<h2>To access bananas manager, you must know login and password</h2>

<% form_tag do %>

  <p>
    Login:<br/>
    <input type="text" name="access[login]"/>
  </p>
  <p>
    Password:<br/>
    <input type="password" name="access[password]"/>
  </p>

  <p><input type="submit" value="Login"/>

<% end %>
